.header {
    position: relative;
    height: 80px;
}

.logo {
    height: 80px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}

.broker-img {
    height: 80px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.contact {
    font: inherit;
    padding: 25px 0 0 0;
    margin: 0;
    font-size: 120%;
}

@media (max-width: 950px) {
    .logo,
    .broker-img {
        height: 55px;
    }
    .header {
        height: 65px;
    }
}

@media (max-width: 750px) {

    .header h2 {
        display: none;
    }
}